$feed-bg: #FFF;
$feed-header-bg: #FFE6DC;
$sliding-categories-height: 40px;
$cart-button-height: 25px;

$cart-badge-bg: #FFF;
$cart-badge-color: #4D301C;
$categories-default-bg: #ff8b81;
$featured-bg: #ff8b81;
$women-bg: #ffab6b;
$men-bg: #ffcf4e;
$kids-bg: #7ae27a;
$home-bg: #5bd3f9;

$sort-and-filters-color: #4D301C;
$sort-and-filters-icon-color: #ff8b81;
