*{
    padding-left: 0;
    margin: 0;
    text-decoration: none;
}

input{
    margin: 0;
    padding: 0;
    float: left;
}

#rech{
    height: 30px;
}
header{
    height: 11em;
    background: #F8F8F8;
}
nav{
    height: 3em;
    background: linear-gradient(#fff, #eeeeec, grey);

}
    nav a{
        text-decoration: none;
        color: #000;
        border-right: 1px solid grey;
        padding-left: 130px;
        margin-bottom: 0;
    }
#Haut{
    background: #5B5B5B;
    color: #fff;
}
#logo{
    margin-left: 135px;
    margin-top: 15px;
    float: left;
}
#headerdroite{
    width: 30%;
    margin-right: 60px;
    float: right;

}
.img, .txt{
    float: left;
    padding-left: 10px;
    margin-top: 20px;
}
#droite1, #droite3{
    float: left;
}
#droite2, #droite4{
    margin-left: 38px;
    float:left;
}
.droitehaut{
    width: 100%;
    border-bottom: 1px solid gainsboro;

}
section{
    height: 100em;
    background: grey;
    padding-top: 65px;
}
#conteneur{
    height: 90em;
    background: black;
    margin: auto;
    width: 90%;
}
footer{
    height: 50em;
    background: #F8F8F8;
}
#loupe{
    background: url(../img/loupe.jpg) no-repeat;
    float:left;

}
#barrerecherche{
    text-align: center;
    display: inline-block;
    width: 250px;
    margin-top: 6px;
}
#gdeimage{
    margin-top: 0;
    height: 50em;
}
#images{
width: 25%;
margin-left: 40px;
padding-left: 31px;
}
    #parquet{
        margin-top: 35px;
    }
#gdeimage, #images{
    float: left;
}

#lignehaut{
    float:left;
}
.1
.clear{
    clear: both;
}
