.rectangle{
    background: royalblue;
    height: 300px;
    width: 400px;
    border-radius: 10px;
    transition: 0.5s;
}
.hide{
    display: none;
}

.rouge{
    background: red;
}
.vert{
    background: green;
}
