*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    background: url(../images.jpg)
}
header{
    background: black;
    height: 20vh;
}
nav{
    background: grey;
    height: 3vh;
    padding-left: 650px;

}
    nav a{
        color: #000;
        transition: 1s;
        padding-right: 110px;

    }
        nav a:hover{
            border-radius:25px;
            background: #fff;
            padding-left: 100px;
            font-size: 25px;
        }
.container{

    height: 65vh;
}
footer{
    background: black;
    height: 12vh;
}
iframe{
    margin-left: 654px;
    margin-top: 30px;
}
.liencarte{
    color: #000;
    background: #fff;
    border-radius: 25px;
}
